.face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	padding: 5px;
	width: 100%;
	height: 100%;
	border-radius: 10%;
}


.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #333;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}

.pip:nth-child(odd):last-child {
	grid-area: g;
}

@keyframes shake1 {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake2 {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(10px);
  }
  70% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake3 {
  0% {
    transform: translate(-5px, -5px);
  }
  10% {
    transform: translate(5px, 5px);
  }
  20% {
    transform: translate(-5px, -5px);
  }
  30% {
    transform: translate(5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
  70% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(-5px, -5px);
  }
  90% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}

.shake-1 {
  animation: shake1 .7s infinite;
}

.shake-2 {
  animation: shake2 .7s infinite;
}

.shake-3 {
  animation: shake3 .7s infinite;
}
