* {
  box-sizing: border-box;
}

body {
  background: #0B2434;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* typography */

.title {
  font-size: 3rem;
  margin: 0;
}

.instructions {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  max-width: 400px;
  color: #4A4E74;
  font-family: 'Inter', sans-serif;
}


main {
  width: 75vw;
  max-width: 600px;
  height: 600px;
  border-radius: 15px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.die-wrapper {
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin: 35px 0px;
  row-gap: 25px;
}

.die {
  width: 80%;
  max-width: 75px;
  height: 75px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-number{
  font-size: 2.5rem;
}

button {
  height: 70px;
  width: 180px;
  background-color: #5035FF;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* utility */

.held{
  background-color: green;
}





